@model Dish

<h1>Add a new Dish!</h1>
<form action="/add_dish" method="post">
    <div class="form-group">
        <label>Chef's Name</label>
        <input asp-for="Chef">
        <span asp-validation-for="Chef" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Name of Dish</label>
        <input asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label># of Calories</label>
        <input asp-for="Calories">
        <span asp-validation-for="Calories" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Tastiness</label>
        <select name="Tastiness">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <span asp-validation-for="Tastiness" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Description</label>
        <br>
        <textarea name="Description" cols="30" rows="8"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br>
    <input type="submit" value="Add Dish" class="btn btn-primary">
</form>